{% extends "base.html" %}

{% block title %} Productos {% endblock %}

{% block contenido %}



<div class = "row">
   <div class = "col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
   <h5><strong>GESTIÓN DE PRODUCTOS</strong></h5> 
      <div class ="card">
         <div class= "card-body">
            <form action="agregar/" method = "POST">{% csrf_token %} 
               <div class = "form-group">
                  <input type = "text" id="txtEmpresa" name= "txtEmpresa" class= "form-control" placeholder = "Empresa ID" Required>
               </div>
               <div class = "form-group">
                  <input type = "text" id="txtCodigo" name= "txtCodigo" class= "form-control" placeholder = "Código" Required>
               </div>
               <div class = "form-group">
                  <input type = "text" id="txtProducto" name= "txtProducto" class= "form-control" placeholder = "Producto" Required>
               </div>
               <div class = "form-group">
                  <button type= "submit" class= "btn btn-success btn-block text-white">Agregar producto</button>
               </div>  
            </form> 
         </div>
      </div>
   
   </div>


   <div class = "col-sm-12 col-md-6 col-lg-8 col-xl-8 ">
      <h3><strong>PRODUCTOS DE LA EMPRESA</strong></h3>
      <div class = "table-responsive py-2 ">
         <table class = "table table-striped" >
            <thead>
               <th>Empresa</th>
               <th>Código</th>
               <th>Producto</th>
               <th colspan = "2"> Gestiones</th>
            </thead>
            <tbody>
               <ul>
                  {% for p in productos %}
                  <tr>
                  <td>{{p.empresa_id}}</td>
                  <td>{{p.producto_id}}</td>
                  <td>{{p.nombre}}</td>
                  <td><a href = "editar/{{p.producto_id}}" class= "btn btn-info">Editar</a></td>
                  <td><a href = "eliminar/{{p.producto_id}}" class= "btn btn-danger">Eliminar</a></td>
                  </tr>
                  {% endfor%}
               </ul> 
            </tbody>
         </table>
      </div>
   </div>
   


</div>



   

{% endblock %}